body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: #ffffff;
}

.main-container {
    flex: 1;
    position: relative;
    background-color: #333333;
    padding: 40px;
    display: flex;
    gap: 40px;
}

.right-section-wrapper {
    display: flex;
    flex-direction: column;
    flex: 3;
    gap: 20px;
}

.hero-title-container {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.hero-text {
    font-size: 6.25rem;
    color: #b83b5e;
    letter-spacing: -0.125rem;
    background: yellow;
    border-bottom-left-radius: 1.56rem;
    position: absolute;
    top: 0;
    right: 0;
}

.form-header h2 {
    font-size: 38px;
    font-weight: 900;
}

.content-split {
    display: flex;
    gap: 1.875rem;
}

.column {
    display: flex;
    flex-direction: column;
}

.left-col {
    flex: 1.2;
}

.middle-col {
    flex: 2;
}

.right-col {
    flex: 1.2;
}

.placeholder-box {
    background-color: #ffffff;
    color: #333333;
    border: 3px solid #777;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 1rem;
}

.map-box {
    flex: 1;
    height: 320vh;
}

.photo-box {
    height: 100%;
    min-height: 380px;
}

.address-section {
    margin-top: 1.25rem;
}

.address-title {
    text-align: center;
    margin-bottom: 0.625rem;
    font-size: 1px;
}

.line {
    background-color: #ffffff;
    height: 25px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.section-title {
    font-size: 35px;
    letter-spacing: -1px;
}

.social-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.badge {
    border: 2px solid #ffffff;
    padding: 6px 15px;
    border-radius: 20px;
    font-size: 12px;
    text-align: center;
    min-width: 100px;
}

.fake-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.fake-form input,
.fake-form textarea {
    width: 100%;
    padding: 12px 20px;
    border-radius: 20px;
    border: none;
    background-color: #ffffff;
    color: #666;
    font-size: 14px;
}

.fake-form textarea {
    border-radius: 15px;
    resize: none;
}

.submit-container {
    display: flex;
    justify-content: flex-end;
}

.send-btn {
    background-color: #ffffff;
    color: #333333;
    padding: 8px 25px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
}
